# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [5]:
SELECT COUNT(user_id) AS num_of_users_who_liked_book
FROM ratings AS r
WHERE rating > 
    (SELECT average_rating
    FROM books AS b
        WHERE b.best_book_id = r.book_id)

num_of_users_who_liked_book
40397

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [19]:
SELECT TOP 5 b.book_id
FROM books AS b
WHERE book_id IN
    (SELECT b.ratings_1
    FROM books AS b
    WHERE b.ratings_1 > 1000)
OR book_id IN
    (SELECT b.ratings_5
    FROM books AS b
    WHERE b.ratings_5 > 1000)

book_id
2657
4671
5107
3636
10210

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [18]:
SELECT TOP 5 b.book_id
FROM books AS b
WHERE b.book_id IN    
    (SELECT b.ratings_1
    FROM books AS b
    WHERE b.ratings_1 > 1000) 
AND b.book_id IN
    (SELECT b.ratings_5
    FROM books AS b
    WHERE b.ratings_5 > 1000)

book_id
4381
1618
1953
1617
5297

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [27]:
SELECT TOP 5 book_id
FROM books
WHERE language_code IN 
    (SELECT language_code
    FROM books
    WHERE language_code LIKE 'en-US')

book_id
41865
5907
1934
428263
113436

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [34]:
SELECT TOP 5 t.tag_name, t.tag_id
FROM tags AS t
WHERE t.tag_id IN
 (SELECT bt.tag_id
 FROM book_tags AS bt
 WHERE count > 100000)

tag_name,tag_id
to-read,30574